@import 'tailwindcss';
body {
    cursor: url('/assets/cursor/arrowhead.svg'), auto;
}

@theme {
    --animate-shine: shine 4s linear infinite;
}

@keyframes shine {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}
.shine-text {
    /* background-image: linear-gradient(to right, #ec4899, #8b5cf6, #ec4899); */
    background-image: linear-gradient(to right, #3b82f6, #06b6d4, #3b82f6);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: var(--animate-shine);
}
