@import 'tailwindcss';
body {
    cursor: url('/assets/cursor/arrowhead.svg'), auto;
}

@theme {
    --animate-shine: shine 4s linear forwards;
}

@keyframes shine {
    0% {
        background-position: -200% 0;
        color: transparent;
    }
    80% {
        background-position: 200% 0;
        color: transparent;
    }
    100% {
        background-position: 200% 0;
        color: black;
    }
}
.shine-text {
    background-image: linear-gradient(to right, #ec4899, #8b5cf6, #ec4899);
    background-size: 200% auto;
    background-clip: text;
    color: transparent;
    animation: var(--animate-shine);
}
